#wrapper {
    width: 100%;
  }
  
  .sidebar {
    padding-top: 20px;
    background-color: #343c49;
    color: white !important;
    height: 100vh;
  }
  
  #logo {
    width: 100%;
    margin-bottom: 30px;
  }
  